In [1]:
import pandas as pd
crimezz = pd.read_csv("finalcleancrime.csv")

#crimezz['Community Area'].sort_values().unique()
crimezz.head()

          Primary Type  Community Area  Year  Property  Violent
0  CRIM SEXUAL ASSAULT              43  2015         0        1
1                THEFT              27  2015         0        1
2              ASSAULT               6  2015         0        1
3  CRIM SEXUAL ASSAULT              19  2015         0        1
4             HOMICIDE              29  2013         0        1

In [3]:
import pandas as pd
crimezz = pd.read_csv("finalcleancrime.csv")
a = crimezz.groupby(by=['Community Area'])['Primary Type'].count()
b = crimezz.groupby(by=['Community Area'])['Property', 'Violent'].sum()
ab = b.join(a)
ab.head()
ab.to_csv('crimes_formatted.csv')

                Property  Violent  Primary Type
Community Area
1                   1664    10770         12434
2                   2408     8811         11219
3                   1747    10391         12138
4                   1280     5291          6571
5                   1405     4223          5628